header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjusted padding for better fit on mobile */
    background: rgb(20, 20, 20); /* Blue to black gradient */
    border-radius: 0px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;

    .logo {
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff; /* Set logo color to white */
        text-decoration: none;
        letter-spacing: 1px;

        @media (max-width: 768px) {
            display: none; /* Hide logo on mobile */
        }
    }

    .link {
        display: flex;
        gap: 1rem; /* Space between links */
        transition: gap 0.3s ease;

        @media (max-width: 768px) {
            overflow: hidden; /* Prevent overflow */
            white-space: nowrap; /* Prevent line breaks */
        }

        a {
            text-decoration: none;
            color: #ffffff; /* Change link color to white */
            font-size: 1rem;
            font-weight: 500; /* Medium weight for readability */
            padding: 5px 10px;
            position: relative;
            transition: color 0.3s, transform 0.3s ease;

            &:hover {
                color: #e0e0e0; /* Slightly lighter color on hover */
                transform: translateY(-3px); /* Slight lift on hover */
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #0400ff; /* Underline color */
                transform: scaleX(0); /* Initial scale */
                transform-origin: right;
                transition: transform 0.3s ease-out;
            }

            &:hover::before {
                transform: scaleX(1); /* Animate the underline on hover */
                transform-origin: left;
            }
        }
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Further reduced padding */
        justify-content: space-between; /* Maintain horizontal layout */
        flex-wrap: nowrap; /* Prevent wrapping */
    }

    .link {
        /* Adjust link container for better fit */
        display: flex;
        justify-content: center; /* Center align links */
        gap: 1rem; /* Space between links */
        width: auto; /* Prevent stretching */
        overflow: hidden; /* Prevent overflow */
    }
}
